<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Sonder | Welcome</title>
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700" rel="stylesheet">
        <link rel="stylesheet" href="/assets/styles/main.css">
    </head>
    <body>
        {% block body %}
        {% endblock %}
        <script src="/assets/scripts/main.js"></script>
    </body>
</html>