$color-background: #102a43;
$color-title: #BCCCDC;
$color-subtitle: #627D98;

$font-stack: 'Source Sans Pro', sans-serif;

body {
  margin: 0;
}

.sonder {
  box-sizing: border-box;
  align-items: center;
  background-color: $color-background;
  display: flex;
  flex-direction: column;
  font-family: $font-stack;
  height: 100vh;
  justify-content: center;
  font-weight: 200;
  width: 100vw;
  text-align: center;
  padding: 0 2rem;
  
  &__title {
    color: $color-title;
    font-size: 6rem;
    font-weight: 200;
    margin: 0;
  }
  
  &__pronunciation {
    font-size: 1rem;
    font-weight: 300;
    font-family: sans-serif;
  }
  
  &__subtitle {
    color: $color-subtitle;
    font-weight: 200;
    margin: 0;
  }
  
  &__icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 5rem;
  }
}

.icon {
  display: inline-block;
  color: inherit;
  max-width: 4rem;
  
  & + .icon {
    margin-left: 5rem;
  }
  
  & svg {
    display: block;
    height: auto;
    max-width: 100%;
    width: 100%;
  }
}